// =============================================================================
// TYPOGRAPHY
// =============================================================================

$font-family: 'Poppins', sans-serif;

// =============================================================================
// FONT WEIGHT
// =============================================================================

$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// =============================================================================
// COLOR
// =============================================================================

$yellow: #F59C29;
$white: #ffffff;
$secondary: #f5f5f5;
$blue: #087ab6;
$primary: #0578B5;
$green: #05B0BF;
$success: #0aa887;
$gray-l: #ddd;
$black: #000;

//////////////////////////////////////

$white-transparent-1: rgba(255, 255, 255, 0.1);
$white-transparent-2: rgba(255, 255, 255, 0.2);
$white-transparent-3: rgba(255, 255, 255, 0.3);
$white-transparent-4: rgba(255, 255, 255, 0.4);
$white-transparent-5: rgba(255, 255, 255, 0.5);
$white-transparent-6: rgba(255, 255, 255, 0.6);
$white-transparent-7: rgba(255, 255, 255, 0.7);
$white-transparent-8: rgba(255, 255, 255, 0.8);
$white-transparent-9: rgba(255, 255, 255, 0.9);

$black-transparent-1: rgba(0, 0, 0, 0.1);
$black-transparent-2: rgba(0, 0, 0, 0.2);
$black-transparent-3: rgba(0, 0, 0, 0.3);
$black-transparent-4: rgba(0, 0, 0, 0.4);
$black-transparent-5: rgba(0, 0, 0, 0.5);
$black-transparent-6: rgba(0, 0, 0, 0.6);
$black-transparent-7: rgba(0, 0, 0, 0.7);
$black-transparent-8: rgba(0, 0, 0, 0.8);

