.site-header {
  background-color: $secondary;
  border: rem(1) solid $gray-l;

  > .container {
    min-height: 3.75rem;

    @media all and (min-width: 768px) {
      max-width: none;
    }
  }
}

.site-logo img {
  width: rem(120);
  height: rem(30);
  background-size: contain;
  margin-top: rem(6);
}

#menu {
  background-color: $white-transparent-5;
  z-index: 10;
}

.site-nav__primary {
  float: right;
  height: 100%;
  width: 17.8rem;
  background-image: linear-gradient( rgb(255,255,255) 0%, rgb(255,255,255) 50%, rgb(7,176,191) 100%);
  padding-top: rem(108);
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: rem(100);
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  &:after {
    position: absolute;
    content: '';
    height: 100%;
    left: rem(-13);
    top: 0;
    width: rem(13);
    background-color: $black-transparent-5;
  }

  .icon {
    flex-basis: rem(31);
    text-align: center;
  }

  .text {
    padding-left: rem(12);
  }

  svg {
    fill: $blue;
    stroke: $blue;
  }

  .i-star {
    width: rem(30);
    height: rem(33);
  }

  .i-dol {
    width: rem(24);
    height: rem(31);
    margin-left: rem(5);
  }

  .i-cart {
    width: rem(33);
    height: rem(30);
  }

  .i-star-up {
    width: rem(36);
    height: rem(37);
  }

  .i-close {
    width: rem(23);
    height: rem(23);
  }
}

.no-webp .site-nav__primary:before {
  background-image: url(../image/menu-bg.jpg);
}

.webp .site-nav__primary:before {
  background-image: url(../image/menu-bg.webp);
}

.nav-item {
  list-style: none;
  margin-left: rem(12);
  margin-right: rem(12);

  &:not(:last-child) {
    border-bottom: rem(1) solid $yellow;
  }
}

.nav-item-link {
  color: $black;
  font-size: rem(15);
  display: flex;
  align-items: center;
  min-height: rem(43);
}

.site-nav__button {
  line-height: 0;
  width: rem(36);
  height: 2.3rem;
  border: rem(2) solid $yellow;
  border-radius: rem(4);
  background-color: $white;
  padding: 0;

  svg {
    fill: $green;
    stroke: $green;
    width: rem(21);
    height: rem(15);

  }
}

///////////////////////////////////////// footer

.press-footer .press-footer__main {
  padding-bottom: rem(58);
}

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $white;
}

.footer-topics {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-top: rem(1) solid $gray-l;
}

.footer-topics__item {
  flex-grow: 1;
  flex-basis: 33.333%;

  &:not(:last-child) {
    border-right: rem(1) solid $gray-l;
  }

  svg {
    fill: $blue;
    stroke: $blue;
    margin-bottom: rem(2);
  }

  .i-star {
    width: rem(30);
    height: rem(33);
  }

  .i-dol {
    width: rem(24);
    height: rem(31);
    margin-top: rem(2);
  }

  .i-cart {
    width: rem(33);
    height: rem(30);
    margin-top: rem(2);
    margin-left: rem(-6);
  }

  a {
    color: $blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(5);

    &.active, &:focus {
      font-size: rem(12);
      font-weight: $font-bold;
      color: $white;
      background-color: $green;
      min-height: rem(58);
      margin-top: -1px;
      margin-right: -1px;

      svg {
        fill: $white;
        stroke: $white;
      }
    }
  }
}


