p {
 hyphens: auto;
 hyphenate-limit-chars: 6 3 3;
 hyphenate-limit-lines: 2;
 hyphenate-limit-last: always;
 hyphenate-limit-zone: 8%;
 margin: 0 0 rem(10) 0;
}

a {
  color: $blue;
  text-decoration: none;
}

/************* font ***********************/

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary;
}

.text-success {
  color: $success;
}

.f-14 {
  font-size: rem(14);
}

.f-sb {
  font-weight: $font-semi-bold;
}





























































































































































































































































































































