.my-award-page {
  .title-block {
    min-height: 5.25rem;
  }
}

///////////////////////////

.card {
  margin-bottom: rem(11);
}

.card-light {
  border: rem(1) solid $gray-l;
}

.card-header__blue {
  font-size: 1.45rem;
  color: $primary;
  font-weight: $font-normal;
  text-align: center;
  padding-top: rem(7);
  padding-bottom: rem(11);
  background-color: $secondary;
  border: rem(1) solid $gray-l;
  border-bottom: 0;
}

.card-content {
  padding: rem(8);
}

.card-img {
  text-align: center;
  height: rem(160);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.no-webp .card-img.img-1 {
  background-image: url(../image/girl-with-phone.jpg);
}

.webp .card-img.img-1 {
  background-image: url(../image/girl-with-phone.webp);
}

.btn-card-abs {
  position: relative;
  margin-top: rem(-17);
}

.card-header__btn {
  color: $white;
  flex-grow: 1;
  border: 0;
  border-bottom: 1px solid $white-transparent-5;
  margin-top: -1px;

  &:first-child {
    margin-left: -1px;
    border-left: 1px solid $white-transparent-5;
  }

  &:last-child {
    margin-right: -1px;
    border-right: 1px solid $white-transparent-5;
  }

  &:not(.active) {
    background-color: $green;
    min-height: rem(68);
  }

  &.active {
    background-color: $primary;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      bottom: rem(-7);
      left: 50%;
      margin-left: rem(-8);
      border: 0 solid transparent;
      border-left-width: rem(8);
      border-right-width: rem(8);
      border-top: rem(8) solid $blue;
    }
  }

  sup {
    font-size: rem(24);
    font-weight: $font-semi-bold;
  }

  .number {
    font-size: rem(38);
    font-weight: $font-semi-bold;
    line-height: 1;
  }

  .desc {
    font-size: rem(11);
    line-height: 1.2;
  }
}

.card-content__item {
  &:not(.active) {
    display: none;
  }
}

.card-content {

  .table {
    width: 100%;

    tr {
      td:first-child, td:last-child {
        width: 21%;
      }

      td:not(:first-child) {
        text-align: center;
        font-size: rem(11);
      }
    }

    th {
      font-size: rem(14);
      font-weight: $font-semi-bold;
      color: $primary;
      padding-bottom: rem(4);
      text-align: center;
    }

    td {
      font-size: rem(12);
      padding-top: rem(4);
      padding-bottom: rem(4);
    }
  }
}



