// =============================================================================
// TYPOGRAPHY
// =============================================================================

$font-family: 'Poppins', sans-serif;

// =============================================================================
// FONT WEIGHT
// =============================================================================

$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// =============================================================================
// FONT SIZE
// =============================================================================

$fs-1: 0.083rem;
$fs-2: 0.1665rem;
$fs-3: 0.25rem;
$fs-4: 0.333rem;
$fs-5: 0.416rem;
$fs-6: 0.499rem;
$fs-7: 0.582rem;
$fs-8: 0.6667rem;
$fs-9: 0.75rem;
$fs-10: 0.8333rem;
$fs-11: 0.9167rem;
$fs-12: 1rem; //base
$fs-13: 1.083rem;
$fs-14: 1.167rem;
$fs-15: 1.25rem;
$fs-16: 1.333rem;
$fs-17: 1.416rem;
$fs-18: 1.5rem;
$fs-19: 1.583rem;
$fs-20: 1.667rem;
$fs-21: 1.750rem;
$fs-22: 1.833rem;
$fs-23: 1.916rem;
$fs-24: 2rem;
$fs-25: 2.0833rem;
$fs-26: 2.167rem;
$fs-27: 2.250rem;
$fs-28: 2.333rem;
$fs-29: 2.416rem;
$fs-30: 2.5rem;
$fs-31: 2.583rem;
$fs-32: 2.667rem;
$fs-33: 2.750rem;
$fs-34: 2.833rem;
$fs-35: 2.916rem;
$fs-36: 3rem;
$fs-37: 3.083rem;
$fs-38: 3.167rem;
$fs-39: 3.250rem;
$fs-40: 3.333rem;
$fs-41: 3.416rem;
$fs-42: 3.499rem;
$fs-43: 3.582rem;
$fs-44: 3.666rem;
$fs-45: 3.749rem;
$fs-46: 3.832rem;
$fs-47: 3.915rem;
$fs-51: 4.247rem;
$fs-54: 4.5rem;
$fs-58: 4.831rem;
$fs-62: 5.164rem;
$fs-66: 5.5rem;
$fs-67: 5.583rem;
$fs-68: 5.666rem;
$fs-69: 5.75rem;
$fs-73: 6.080rem;
$fs-88: 7.328rem;
$fs-90: 7.495rem;
$fs-94: 7.833rem;
$fs-97: 8.083rem;
$fs-100: 8.327rem;
$fs-108: 9rem;
$fs-120: 10rem;
$fs-160: 13.290rem;

// =============================================================================
// COLOR
// =============================================================================

$yellow: #F59C29;
$white: #ffffff;
$secondary: #f5f5f5;
$blue: #087ab6;
$primary: #0578B5;
$green: #05B0BF;
$success: #0aa887;
$gray-l: #ddd;
$black: #000;

//////////////////////////////////////

$white-transparent-1: rgba(255, 255, 255, 0.1);
$white-transparent-2: rgba(255, 255, 255, 0.2);
$white-transparent-3: rgba(255, 255, 255, 0.3);
$white-transparent-4: rgba(255, 255, 255, 0.4);
$white-transparent-5: rgba(255, 255, 255, 0.5);
$white-transparent-6: rgba(255, 255, 255, 0.6);
$white-transparent-7: rgba(255, 255, 255, 0.7);
$white-transparent-8: rgba(255, 255, 255, 0.8);
$white-transparent-9: rgba(255, 255, 255, 0.9);

$black-transparent-1: rgba(0, 0, 0, 0.1);
$black-transparent-2: rgba(0, 0, 0, 0.2);
$black-transparent-3: rgba(0, 0, 0, 0.3);
$black-transparent-4: rgba(0, 0, 0, 0.4);
$black-transparent-5: rgba(0, 0, 0, 0.5);
$black-transparent-6: rgba(0, 0, 0, 0.6);
$black-transparent-7: rgba(0, 0, 0, 0.7);
$black-transparent-8: rgba(0, 0, 0, 0.8);

