.press-footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .press-footer__main {
    flex: 1 0 auto;
  }

  .press-footer__bottom {
    flex: 0 0 auto;
  }
}

.container {
  width: calc(100% - 1.833rem);
  max-width: 640px;
  margin: 0 auto;
}


///////////////////////////////////////

.w-44 {
  width: 44%;
}

.w-50 {
  width: 50%;
}

.w-66 {
  width: 66%;
}

.w-69 {
  width: 69%;
}

.w-74 {
  width: 74%;
}

//////////////////////////////////////

.mb-13 {
  margin-bottom: $fs-13;
}

//////////////////////////////////////

.pb-9 {
  padding-bottom: $fs-9 !important;
}

//////////////////////////////////////

.p-15 {
  padding: $fs-15;
}


