<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, initial-scale=1.0">
	<meta name="description"
				content="@@description">
	<meta name="keywords"
				content="@@keywords">
	<meta name="apple-mobile-web-app-capable"
		  content="yes">
	<meta name="SKYPE_TOOLBAR"
		  content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
	<meta name="format-detection"
		  content="telephone=no"/>
	<meta name="theme-color"
		  content="#05B0BF"/>
	<link rel="apple-touch-icon"
		  sizes="180x180"
		  href="favicon/apple-touch-icon.png">
	<link rel="icon"
		  type="image/png"
		  sizes="32x32"
		  href="favicon/favicon-32x32.png">
	<link rel="icon"
		  type="image/png"
		  sizes="16x16"
		  href="favicon/favicon-16x16.png">
	<link rel="manifest"
		  href="manifest.json"
		  crossorigin="use-credentials">
	<link rel="mask-icon"
		  href="favicon/safari-pinned-tab.svg"
		  color="#5bbad5">
	<meta name="msapplication-TileColor"
		  content="#da532c">
	<meta name="theme-color" content="#05B0BF">
	<link rel="preconnect"
		  href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet"
				href="css/style.min.css">
	<title>@@title</title>
</head>


